body,
header,
footer {
    margin: 0 auto;
    max-width: 650px;
}

body {
    height: 200px;
    padding: 5em;
    background-color: hsla(30, 12%, 97%, 0.514);
}

header {
    padding: 2em;
    height: 25%;
    border: 1px solid #0f0f0f;
    border-radius: 1em;
}

header,
footer {
    background-color: #7899db;
}

h4 {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#picture {
    width: 150px;
    z-index: 3;
    float: right;
    box-shadow: 10px 5px 5px #37393a36;
}

hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

h2,
p {
    text-align: center;
    color: white;
}

ul {
    text-align: left;
    padding: 1em;
    margin: 80 auto;
}

a:visited {
    color: rgb(6, 134, 12);
}

a:hover {
    color: red;
}

#date {
    color: rgb(253, 237, 6);
    font-weight: bold;
}

footer {
    position: relative;
    top: 0em;
    width: 100%;
    height: 35%;
    border: 1px solid #0f0f0f;
    border-radius: 1em;
}