@media only screen and (min-width: 60em) {
    header img {
        width: 10%;
    }
    .img-center {
        width: 35%;
    }
    .banner {
        top: 20%;
        right: 60%;
    }
    .mapsmall {
        display: none;
    }
    .maplarge {
        display: none;
    }
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "one two three" "four five six" "seven eight nine";
    }
}

picture:hover {
    box-shadow: 0 0 50px #333;
    border-radius: 4px;
}