header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.subtitles {
    font-style: italic;
    letter-spacing: 1pt;
    color: forestgreen;
    margin-left: 20px;
    font-size: .9rem;
}

img {
    width: 5%;
    margin-right: 1rem;
    margin-top: 1rem;
}

.title {
    text-align: center;
}

nav {
    margin: 0 auto;
    background-color: tomato;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.navigation a:hover {
    color: white;
    background-color: black;
}

.midle {
    display: block;
    margin: 0 auto;
}

.midle div {
    margin: 15px auto;
    border: dashed;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    padding: 15px;
    background-color: #eee;
}


/*Hamburguer*/

.responsive li {
    display: block;
}

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .midle {
        max-width: 75%;
    }
}