.masthead {
    background-color: #00a8db
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #103966;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}